*, *::before, *::after{
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: black;
}

body{
  margin: 0 auto;
  width: 100%;
  font-family: Roboto, sans-serif;
  justify-content: center;
  align-content: center;
}

.main_wrapper{
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}