@-webkit-keyframes fadeInEntrees {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInEntrees {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInPlats {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInPlats {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInDesserts {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInDesserts {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  75% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  75% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@-webkit-keyframes logo {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  50% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  70% {
    -webkit-transform: translateX(-15%);
            transform: translateX(-15%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes logo {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  50% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  70% {
    -webkit-transform: translateX(-15%);
            transform: translateX(-15%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@-webkit-keyframes stealth {
  0%, 85% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes stealth {
  0%, 85% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0 auto;
  width: 100%;
  font-family: Roboto, sans-serif;
}

body > .loader {
  visibility: visible;
}

body > .loader .loader__logo {
  visibility: visible;
}

.main_wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.heart--icons {
  padding-top: 1rem;
  padding-right: 1rem;
  position: relative;
  display: inline-block;
}

.heart--icons .grey__heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 25px;
  right: 25px;
}

.heart--icons .pink__heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 17px;
  right: 17px;
}

.heart--icons .grey__heart {
  color: #a6a6a6;
  visibility: visible;
}

.heart--icons .pink__heart {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  visibility: hidden;
  padding: 0.5rem;
  cursor: pointer;
}

.heart--icons .fa-heart:first-of-type:hover + .fa-heart,
.heart--icons .fa-heart:first-of-type:active + .fa-heart,
.heart--icons .fa-heart:first-of-type:focus + .fa-heart {
  visibility: visible;
}

.heart--icons--menu .grey__heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 10px;
  right: 20px;
}

.heart--icons--menu .pink__heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 2px;
  right: 12px;
}

.saisieFormulaire {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  background: #e6e6e6;
  padding: 0;
  width: 15ch;
  border: none;
  outline: none;
}

.saisieFormulaire:focus {
  border: none;
  outline: none;
}

.saisieFormulaire::-webkit-input-placeholder {
  color: black;
}

.saisieFormulaire:-ms-input-placeholder {
  color: black;
}

.saisieFormulaire::-ms-input-placeholder {
  color: black;
}

.saisieFormulaire::placeholder {
  color: black;
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1400px;
  height: 100%;
  background-color: white;
  opacity: 1;
  position: fixed;
  -webkit-animation: loader 3s forwards;
          animation: loader 3s forwards;
}

.loader__logo {
  height: 30vh;
  width: 70vw;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-animation: logo 3s forwards cubic-bezier(0, 1.6, 0.03, 1.61);
          animation: logo 3s forwards cubic-bezier(0, 1.6, 0.03, 1.61);
}

.main_wrapper {
  opacity: 1;
  -webkit-animation: stealth 3s forwards;
          animation: stealth 3s forwards;
}

.header__loc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(2%, #cccccc), color-stop(4%, #d4d4d4), color-stop(6%, #dbdbdb), color-stop(8%, #e0e0e0), color-stop(10%, #e6e6e6));
  background: linear-gradient(#cccccc 2%, #d4d4d4 4%, #dbdbdb 6%, #e0e0e0 8%, #e6e6e6 10%);
  height: 8vh;
  font-weight: 500;
}

.header__loc form {
  padding-left: 1rem;
}

.browse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f2f2f2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 2rem;
  margin-bottom: 2rem;
}

.browse h1 {
  font-weight: 700;
}

.browse p {
  font-size: 20px;
  font-weight: 400;
  color: #595954;
}

.browse__button {
  font-size: 18px;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding: 1rem 1.5rem;
  border-radius: 9999px;
  color: white;
  -webkit-box-shadow: 2px 2px 10px #a6a6a6;
          box-shadow: 2px 2px 10px #a6a6a6;
}

.browse__button:hover {
  -webkit-box-shadow: 2px 2px 10px #595954;
          box-shadow: 2px 2px 10px #595954;
}

.browse__button:hover, .browse__button:focus-visible {
  background: -webkit-gradient(linear, left top, right bottom, from(#ff94e1), to(#a06be1));
  background: linear-gradient(to bottom right, #ff94e1, #a06be1);
}

.blockSteps {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blockSteps h2 {
  padding-left: 1rem;
}

.blockSteps__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5rem;
}

.blockSteps__steps--tofollow {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  padding: 1.5rem 2rem;
  background: #f2f2f2;
  border-radius: 15px;
  -webkit-box-shadow: 2px 2px 10px #a6a6a6;
          box-shadow: 2px 2px 10px #a6a6a6;
}

.blockSteps__steps--tofollow:hover, .blockSteps__steps--tofollow:focus-visible {
  -webkit-box-shadow: 2px 2px 10px #595954;
          box-shadow: 2px 2px 10px #595954;
}

.blockSteps__steps--tofollow p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
}

.blockSteps__steps--tofollow .stepsIcons {
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.blockSteps__steps--tofollow .stepsIcons__1 {
  margin-right: calc(1rem + 6px);
}

.blockSteps__steps--tofollow .stepsIcons__2 {
  margin-right: calc(1rem + 2px);
}

.blockSteps__steps--tofollow .stepsIcons__3 {
  color: #9356DC;
}

.blockSteps .tofollow--1::before {
  content: "1";
  position: absolute;
  left: -15px;
  top: 30%;
  padding: 0.25rem 0.5rem;
  background-color: #9356DC;
  border-radius: 100%;
  color: white;
}

.blockSteps .tofollow--2::before {
  content: "2";
  position: absolute;
  left: -15px;
  top: 30%;
  padding: 0.25rem 0.5rem;
  background-color: #9356DC;
  border-radius: 100%;
  color: white;
}

.blockSteps .tofollow--3::before {
  content: "3";
  position: absolute;
  left: -15px;
  top: 30%;
  padding: 0.25rem 0.5rem;
  background-color: #9356DC;
  border-radius: 100%;
  color: white;
}

.restaurants {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurants .vignette {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  background-size: cover;
  background-position-y: 75%;
  background-repeat: no-repeat;
  border-radius: 15px;
  overflow: hidden;
  height: 220px;
  min-width: 220px;
  max-width: 100%;
  margin: 1rem 0rem;
  -webkit-box-shadow: 2px 2px 10px #a6a6a6;
          box-shadow: 2px 2px 10px #a6a6a6;
}

.restaurants .vignette:hover, .restaurants .vignette:focus-visible {
  -webkit-box-shadow: 2px 2px 10px #595954;
          box-shadow: 2px 2px 10px #595954;
}

.restaurants .vignette__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
}

.restaurants .vignette__desc h3 {
  margin: 0.25rem;
  padding-top: 0.5rem;
  padding-left: 0.25rem;
  color: black;
}

.restaurants .vignette__desc p {
  margin: 0.25rem;
  padding-bottom: 0.5rem;
  padding-left: 0.25rem;
  color: black;
}

.vignette--1 {
  background-image: url(../../MaquettesOhmyfood/images/restaurants/jay_wennington.jpg);
}

.vignette--2 {
  background-image: url(../../MaquettesOhmyfood/images/restaurants/stil_u2.jpg);
}

.vignette--3 {
  background-image: url(../../MaquettesOhmyfood/images/restaurants/toa_heftiba.jpg);
}

.vignette--4 {
  background-image: url(../../MaquettesOhmyfood/images/restaurants/louis_hansel.jpg);
}

.h3__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pink__heart {
  z-index: 2;
}

.grey__heart {
  z-index: 1;
}

.header__arrow {
  position: absolute;
  color: #595954;
  left: 15px;
  top: 15px;
  padding: 2rem 1.5rem;
}

.restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.restaurant__plats {
  margin: 1rem 0;
  padding: 0.75rem 0.5rem;
  -webkit-box-shadow: 2px 2px 10px #a6a6a6;
          box-shadow: 2px 2px 10px #a6a6a6;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.restaurant__plats:hover {
  -webkit-box-shadow: 2px 2px 10px #595954;
          box-shadow: 2px 2px 10px #595954;
  cursor: pointer;
}

.restaurant__plats:hover .check, .restaurant__plats:focus-visible .check {
  -webkit-transform: scaleX(100%);
          transform: scaleX(100%);
}

.restaurant__plats:hover .check .fa-check-circle, .restaurant__plats:focus-visible .check .fa-check-circle {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: 600ms 300ms;
  transition: 600ms 300ms;
}

.restaurant__plats:hover .restaurant__plats--p, .restaurant__plats:hover .restaurant__plats--h3 {
  max-width: calc(100% - 80px);
}

.restaurant__plats--h3 {
  margin: 0;
}

.restaurant__plats--p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 1rem;
}

.restaurant__plats--closing {
  margin-bottom: 3rem;
}

.restaurant__plats .plats {
  margin: 0.25rem 0;
}

.restaurant__plats .plats__prix {
  font-weight: 700;
}

.restaurant__image {
  width: 100%;
  height: 250px;
}

.restaurant__image--photo {
  height: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant__menu {
  width: 100%;
  padding: 0 1.5rem;
  margin-top: -35px;
  background-color: white;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  z-index: 1;
}

.restaurant__menu--h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.plats__ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__title {
  display: block;
  font-family: Shrikhand, sans-serif;
  font-weight: 700;
}

.plats__title {
  text-transform: uppercase;
  position: relative;
  margin-top: 1rem;
  font-size: 16px;
  font-weight: 400;
}

.plats__title::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 2.5rem;
  height: 4px;
  background-color: #99E2D0;
}

.restaurant__menu--h1 h1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 30px);
}

.entreesFade {
  -webkit-animation: fadeInEntrees 1s;
          animation: fadeInEntrees 1s;
}

.platsFade {
  -webkit-animation: fadeInPlats 2s;
          animation: fadeInPlats 2s;
}

.dessertsFade {
  -webkit-animation: fadeInDesserts 3s;
          animation: fadeInDesserts 3s;
}

.command {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4rem;
}

.command__button {
  font-size: 18px;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding: 1rem 1.5rem;
  border-radius: 9999px;
  color: white;
  -webkit-box-shadow: 2px 2px 10px #a6a6a6;
          box-shadow: 2px 2px 10px #a6a6a6;
}

.command__button:hover {
  -webkit-box-shadow: 2px 2px 10px #595954;
          box-shadow: 2px 2px 10px #595954;
}

.command__button:hover, .command__button:focus-visible {
  background: -webkit-gradient(linear, left top, right bottom, from(#ff94e1), to(#a06be1));
  background: linear-gradient(to bottom right, #ff94e1, #a06be1);
}

.check {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #99E2D0;
  -webkit-transform: scaleX(0%);
          transform: scaleX(0%);
  -webkit-transition: 250ms 75ms;
  transition: 250ms 75ms;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.check .fa-check-circle {
  padding: 1.5rem 1.5rem;
  color: white;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  position: relative;
}

.header__logo__image {
  width: 50%;
  max-width: 370px;
  max-height: 65px;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  background-color: #595954;
  padding: 1.5rem;
  width: 100%;
}

footer a {
  color: white;
}

footer h2 {
  font-family: Shrikhand, sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: white;
  margin-top: 0;
  margin-bottom: 1rem;
}

footer p {
  color: white;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.footer--icons {
  margin-right: 1rem;
}

.fa-utensils {
  margin-right: calc(1rem + 6px);
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .left_content, .right_content {
    width: 50%;
    max-width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .top_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: #f2f2f2;
  }
  .blockSteps {
    margin: 0;
    width: 50%;
    background: #f2f2f2;
  }
  .restaurants {
    padding: 0;
    margin-top: 0;
  }
  .restaurants h2 {
    text-align: center;
  }
  .restaurants > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    max-width: 992px;
  }
  .restaurants > div .vignette {
    width: 90vw;
    height: 45vh;
    padding: 0;
    background-position-y: 65%;
  }
  .restaurant__menu {
    margin-top: -40px;
  }
  .restaurant__image {
    height: 450px;
  }
  .restaurant__image--photo {
    height: 450px;
  }
}

@media screen and (min-width: 993px) {
  body {
    max-width: 1400px;
  }
  .left_content, .right_content {
    width: 50%;
    max-width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .top_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: #f2f2f2;
  }
  .blockSteps {
    margin: 0;
    width: 50%;
    background: #f2f2f2;
  }
  .restaurants {
    padding: 0;
    margin-top: 0;
  }
  .restaurants h2 {
    text-align: center;
  }
  .restaurants > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    max-width: 1400px;
  }
  .restaurants > div .vignette {
    width: 45vw;
    max-width: 650px;
    height: 350px;
    padding: 0;
  }
  .restaurant__menu {
    margin-top: -50px;
  }
  .restaurant__image {
    height: 50vh;
  }
  .restaurant__image--photo {
    height: 50vh;
  }
  .menusDesktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .menusDesktop .restaurant__plats {
    width: 30vw;
    max-width: 420px;
  }
}
/*# sourceMappingURL=main.css.map */