/* Colors */
/* Font sizes */
/* Font weights */
/* Mixins */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

body {
  margin: 0 auto;
  font-family: Roboto, sans-serif;
}

.heart--icons {
  padding-top: 1rem;
  padding-right: 1rem;
  position: relative;
}

.heart--icons .grey__heart, .heart--icons .pink__heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 25px;
  right: 25px;
}

.heart--icons .grey__heart {
  color: #a6a6a6;
  visibility: visible;
}

.heart--icons .pink__heart {
  color: #FF79DA;
  visibility: hidden;
}

.heart--icons .fa-heart:first-of-type:hover + .fa-heart,
.heart--icons .fa-heart:first-of-type:active + .fa-heart,
.heart--icons .fa-heart:first-of-type:focus + .fa-heart {
  visibility: visible;
}

.heart--icons--menu .grey__heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 10px;
  right: 20px;
}

.heart--icons--menu .pink__heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 10px;
  right: 20px;
}

.saisieFormulaire {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  background: #e6e6e6;
  padding: 0;
  width: 15ch;
  border: none;
  outline: none;
}

.saisieFormulaire:focus {
  border: none;
  outline: none;
}

.saisieFormulaire::-webkit-input-placeholder {
  color: black;
}

.saisieFormulaire:-ms-input-placeholder {
  color: black;
}

.saisieFormulaire::-ms-input-placeholder {
  color: black;
}

.saisieFormulaire::placeholder {
  color: black;
}

.header__loc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(2%, #cccccc), color-stop(4%, #d4d4d4), color-stop(6%, #dbdbdb), color-stop(8%, #e0e0e0), color-stop(10%, #e6e6e6));
  background: linear-gradient(#cccccc 2%, #d4d4d4 4%, #dbdbdb 6%, #e0e0e0 8%, #e6e6e6 10%);
  height: 8vh;
  font-weight: 500;
}

.header__loc form {
  padding-left: 1rem;
}

.browse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f2f2f2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 2rem;
  margin-bottom: 2rem;
}

.browse h1 {
  font-weight: 700;
}

.browse p {
  font-size: 20px;
  font-weight: 400;
  color: #595954;
}

.browse__button {
  font-size: 18px;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding: 1rem 1.5rem;
  border-radius: 9999px;
}

.blockSteps {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blockSteps h2 {
  padding-left: 1rem;
}

.blockSteps__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5rem;
}

.blockSteps__steps--tofollow {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  padding: 1.5rem 2rem;
  background: #f2f2f2;
  border: 1px solid transparent;
  border-radius: 15px;
  -webkit-box-shadow: 2px 2px 10px #a6a6a6;
          box-shadow: 2px 2px 10px #a6a6a6;
}

.blockSteps__steps--tofollow p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
}

.blockSteps__steps--tofollow .stepsIcons {
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.blockSteps__steps--tofollow .stepsIcons__1 {
  margin-right: calc(1rem + 6px);
}

.blockSteps__steps--tofollow .stepsIcons__2 {
  margin-right: calc(1rem + 2px);
}

.blockSteps__steps--tofollow .stepsIcons__3 {
  color: #9356DC;
}

.blockSteps .tofollow--1::before {
  content: "1";
  position: absolute;
  left: -15px;
  top: 30%;
  padding: 0.25rem 0.5rem;
  background-color: #9356DC;
  border-radius: 100%;
  color: white;
}

.blockSteps .tofollow--2::before {
  content: "2";
  position: absolute;
  left: -15px;
  top: 30%;
  padding: 0.25rem 0.5rem;
  background-color: #9356DC;
  border-radius: 100%;
  color: white;
}

.blockSteps .tofollow--3::before {
  content: "3";
  position: absolute;
  left: -15px;
  top: 30%;
  padding: 0.25rem 0.5rem;
  background-color: #9356DC;
  border-radius: 100%;
  color: white;
}

.restaurants {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurants .vignette {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  background-size: cover;
  background-position-y: 75%;
  background-repeat: no-repeat;
  border-radius: 15px;
  /*overflow: hidden;*/
  height: 220px;
  min-width: 220px;
  max-width: 100%;
  margin: 1rem 0rem;
  -webkit-box-shadow: 2px 2px 10px #a6a6a6;
          box-shadow: 2px 2px 10px #a6a6a6;
}

.restaurants .vignette__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
}

.restaurants .vignette__desc h3 {
  margin: 0.25rem;
  padding-top: 0.5rem;
  padding-left: 0.25rem;
  color: black;
}

.restaurants .vignette__desc p {
  margin: 0.25rem;
  padding-bottom: 0.5rem;
  padding-left: 0.25rem;
  color: black;
}

.vignette--1 {
  background-image: url(../../MaquettesOhmyfood/images/restaurants/jay_wennington.jpg);
}

.vignette--2 {
  background-image: url(../../MaquettesOhmyfood/images/restaurants/stil_u2.jpg);
}

.vignette--3 {
  background-image: url(../../MaquettesOhmyfood/images/restaurants/toa_heftiba.jpg);
}

.vignette--4 {
  background-image: url(../../MaquettesOhmyfood/images/restaurants/louis_hansel.jpg);
}

.h3__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pink__heart {
  z-index: 2;
}

.grey__heart {
  z-index: 1;
}

.header__arrow {
  position: absolute;
  color: #595954;
  left: 15px;
  top: 10px;
  padding: 2rem 1.5rem;
}

.restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.restaurant__image {
  width: 100%;
  height: 250px;
  z-index: 0;
}

.restaurant__image--photo {
  height: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}

.restaurant__menu {
  width: 100%;
  padding: 0 1rem;
  margin-top: -35px;
  background-color: white;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  z-index: 1;
}

.restaurant__menu--h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menu__title {
  display: block;
  font-family: Shrikhand, sans-serif;
  font-weight: 700;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  position: relative;
}

.header__logo__image {
  width: 50%;
  max-width: 370px;
  max-height: 65px;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  background-color: #595954;
  padding: 1.5rem;
  width: 100%;
}

footer h2 {
  font-family: Shrikhand, sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: white;
  margin-top: 0;
  margin-bottom: 1rem;
}

footer p {
  color: white;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.footer--icons {
  margin-right: 1rem;
}

.fa-utensils {
  margin-right: calc(1rem + 6px);
}
/*# sourceMappingURL=main.css.map */