@mixin flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin stepsNumbers($content){
  content: $content;
  position: absolute;
  left: -15px;
  top: 30%;
  padding: 0.25rem 0.5rem;
  background-color: $clr-purple;
  border-radius: 100%;
  color: white;
}

@mixin button{
  font-size: $size-large;
  background: linear-gradient(
    to bottom right,
    #FF79DA,
    #9356DC,
  );  
  padding: 1rem 1.5rem;
  border-radius: 9999px;
  color: white;
}