/* Colors */

$clr-purple: #9356DC;
$clr-pink: #FF79DA;
$clr-green: #99E2D0;
$clr-grey: hsl(0, 0, 85%);


/* Font sizes */

$size-xsmall: 12px;
$size-small: 14px;
$size-medium: 16px;
$size-large: 18px;
$size-xlarge: 20px;

/* Font weights */

$light-300: 300;
$regular-400: 400;
$medium-500: 500;
$bold-700: 700;
$black-900: 900;
