$clr-purple: #9356DC;
$clr-pink: #FF79DA;
$clr-green: #99E2D0;
$clr-accent-lightgrey: hsl(0, 0, 95%);
$clr-lightgrey: hsl(0, 0, 85%);
$clr-mediumgrey: hsl(0, 0, 65%);
$clr-darkgrey: #595954;

$size-xsmall: 12px;
$size-small: 14px;
$size-medium: 16px;
$size-large: 18px;
$size-xlarge: 20px;

$light-300: 300;
$regular-400: 400;
$medium-500: 500;
$bold-700: 700;
$black-900: 900;