@import "./utils/variables";
@import "./utils/keyframes";
@import "./utils/mixins";
@import "./base/norms";
@import "./composants/hearts";
@import "./layouts/form";
@import "./pages/home";
@import "./pages/menus";


.header__logo{
  @include flexCenter;
  height: 10vh;
  
  &__image{
    width: 50%;
    max-width: 370px;
    max-height: 65px;
    object-fit: cover;
  }
}

footer{
  background-color: $clr-darkgrey;
  padding: 1.5rem;
  width: 100%;
    
    a{
      color: white;
    }

    h2{
      font-family: Shrikhand, sans-serif;
      font-weight: $light-300;
      font-size: $size-large;
      color: white;
      margin-top: 0;
      margin-bottom: 1rem;
    }
    
    p{
      color: white;
      font-weight: $medium-500;
      margin-top: 0;
      margin-bottom: 0.5rem;
    }
}

.footer--icons{
  margin-right: 1rem;
}

.fa-utensils{
  margin-right: calc(1rem + 6px);
}

