@import "./utils/variables";
@import "./utils/keyframes";
@import "./utils/mixins";
@import "./base/norms";
@import "./composants/hearts";
@import "./layouts/form";
@import "./pages/home";
@import "./pages/menus";


.header__logo{
  @include flexCenter;
  height: 10vh;
  position: relative;
  
  &__image{
    width: 50%;
    max-width: 370px;
    max-height: 65px;
    object-fit: cover;
  }
}

footer{
  background-color: $clr-darkgrey;
  padding: 1.5rem;
  width: 100%;
    
    a{
      color: white;
    }

    h2{
      font-family: Shrikhand, sans-serif;
      font-weight: $light-300;
      font-size: $size-large;
      color: white;
      margin-top: 0;
      margin-bottom: 1rem;
    }
    
    p{
      color: white;
      font-weight: $medium-500;
      margin-top: 0;
      margin-bottom: 0.5rem;
    }
}

.footer--icons{
  margin-right: 1rem;
}

.fa-utensils{
  margin-right: calc(1rem + 6px);
}

@media screen and (min-width: 768px) and (max-width: 992px){
  .spinner__title{
    top: 42vh;
  }

  .left_content, .right_content{
    width: 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
  }

  .main_content{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

  .top_content{
    display: flex;
    flex-direction: row;
    background: hsl(0, 0, 95%);
  }

  .blockSteps{
    margin: 0;
    width: 50%;
    background: hsl(0, 0, 95%);
  }

  .restaurants{
    padding: 0;
    margin-top: 0;

      h2{
        text-align: center;
      }

      &>div{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        max-width: 992px;

          .vignette{
            width: 90vw;
            height: 45vh;
            padding: 0;
            background-position-y: 65%;
          }
      }
  }

  .restaurant{

    &__menu{
      margin-top: -40px;
    }

    &__image{
      height: 450px;

        &--photo{
          height: 450px;
        }
    }
  }    
}

@media screen and (min-width: 993px){

  body{
    max-width: 1400px;
  }

  .spinner__title{
    top: 42vh;
  }

  .left_content, .right_content{
    width: 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
  }

  .main_content{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

  .top_content{
    display: flex;
    flex-direction: row;
    background: hsl(0, 0, 95%);
  }

  .blockSteps{
    margin: 0;
    width: 50%;
    background: hsl(0, 0, 95%);
  }

  .restaurants{
    padding: 0;
    margin-top: 0;

      h2{
        text-align: center;
      }

      &>div{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        max-width: 1400px;

          .vignette{
            width: 45vw;
            max-width: 650px;
            height: 350px;
            padding: 0;
          }
      }
  }

  .restaurant{

    &__menu{
      margin-top: -50px;
    }

    &__image{
      height: 50vh;

        &--photo{
          height: 50vh;
        }
    }
  } 

  .menusDesktop{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;

      .restaurant__plats{
        width: 30vw;
        max-width: 420px;
      }
  }
}